replicaCount: 1
image:
  name: ghcr.io/melodyyangaws/hive-metastore
  tag: 3.0.0
  pullPolicy: IfNotPresent
serviceAccountName: hive
env:
  HIVE_DB_EXTERNAL: "true"
  HIVE_DB_DRIVER: com.mysql.cj.jdbc.Driver
  HIVE_CONF_PARAMS: "hive.metastore.schema.verification:false;datanucleus.autoCreateSchema:false"
  HIVE_DB_JDBC_URL: {RDS_JDBC_URL}
  # either hardcoded here or get from Secrets Manager below
  HIVE_DB_USER: {RDS_USERNAME}
  HIVE_DB_PASS: {RDS_PASSWORD}
  HIVE_WAREHOUSE_S3LOCATION: {S3BUCKET}

# optional: get sensative info from external secret store, such as AWS Secrets Manager
# secretName: <EKS_SECRET_RESOURCE_NAME>
# secret:
  # HIVE_DB_USER: <SECRET_MANAGER_SECRET_KEY_FOR_USERNAME>
  # HIVE_DB_PASS: <SECRET_MANAGER_SECRET_KEY_FOR_PASSWORD>
service:
  type: ClusterIP 
resources:
  limits:
    cpu: 1
    memory: 1000Mi
  requests:
    cpu: 400m
    memory: 1000Mi
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
